html,
body,
#app {
  min-height: 100%;
}

:root {
  --kiss-safe-area-top: env(safe-area-inset-top, 0px);
  --kiss-safe-area-right: env(safe-area-inset-right, 0px);
  --kiss-safe-area-bottom: env(safe-area-inset-bottom, 0px);
  --kiss-safe-area-left: env(safe-area-inset-left, 0px);
}

body {
  margin: 0;
}
